.header {
  font-weight: 300;
  height: 88px;
  background: #051C2C;
  color: white;
  display: flex;
  justify-content: center;
}

.logo {
  height: 70px;
  align-self: flex-end;
  padding: 0 180px 5px 0;
}

.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 70px;
}

.nav-button:hover {
  color: #00A9F4;
  border-bottom: 5px solid #00A9F4;
  padding: 0 5px 10px 5px;
}

.nav-button {
  color: white;
  padding: 0 5px 15px 5px;
}

.content-padding {
  height: 100%;
  width: 63vw;
  display: flex;
  box-sizing: border-box;
}